[package]

name          = "bytes"
version       = "0.4.0"
license       = "MIT"
authors       = ["Carl Lerche <me@carllerche.com>"]
description   = "Types and traits for working with bytes"
documentation = "https://carllerche.github.io/bytes/bytes"
homepage      = "https://github.com/carllerche/bytes"
repository    = "https://github.com/carllerche/bytes"
readme        = "README.md"
keywords      = ["buffers", "zero-copy", "io"]
exclude       = [
    ".gitignore",
    ".travis.yml",
    "deploy.sh",
    "bench/**/*",
    "test/**/*"
]
categories = ["network-programming", "data-structures"]

[dependencies]
byteorder = "1.0.0"
iovec = "0.1"

[dev-dependencies]
tokio-core = "0.1.0"
